* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #111111;
  color: #EDEDED;
  font-family: 'Inter';
  font-size: 14px;
  text-rendering: geometricPrecision;
}

[data-animate] {
  -webkit-animation-delay: calc(var(--stagger) * 300ms);
  animation: enter .6s both;
  animation-delay: calc(var(--stagger) * 300ms);
}

@keyframes enter { 
  from {
    opacity: 0%;
    transform: translateY(25px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

::selection {
  background: rgba(50, 151, 253, 0.15);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}